@use '../../../../Style/StyleImport.scss' as import;
.LabelIcon{
    display: flex;
    align-items: center ;
    &:hover{
        .LabelIcon--item {
            margin: 0 6px;
            height: fit-content;
            .LabelIcon--label {
                @include import.styleBold(14px,#558EFF);
            }
        }
    }
    &::selection{
        color: #A0A4A8;
    }
    .LabelIcon--item {
        margin: 0 6px;
        height: fit-content;
        .LabelIcon--label {
            @include import.styleBold(14px,#52575C);
        }
    }
}