@use "../../Style/StyleImport.scss" as import;
.NavBar {
	max-width: 256px;
	min-height: 100vh;
	background: #ffffff;
	box-shadow: 4px 16px 0px 0px rgba(16, 30, 115, 0.08);
	box-shadow: 0 0 5px #888;
	overflow-x: hidden;
	position: fixed;
	left: 0;
	z-index: 10;
	display: flex;
	&.active {
		.NavBar__content {
			display: block;
			width: 256px;
			transition: width 0.4s;
			.NavBar--logo {
				padding: 24px 90px 32px 25px;
				transform: translateX(0%);
				transition: all 0.5s;
			}
			.NavBar--list {
				padding-left: 25px;
				.NavBar--list__title {
					display: block;
					.NavBar--list__titleH1 {
						@include import.styleNormal(14px, #a0a4a8);
					}
				}
			}
			.NavBar--help {
				border-top: 1px solid #e8e8e8;
				padding: 22px 0px 0px 25px;
			}
		}
	}

	.NavBar__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 40px;
		transition: width 0.4s;
		.NavBar--logo {
			// display: none;
			transform: translateX(-200%);
			transition: all 0.5s;
		}
		.NavBar--list {
			padding-left: 5px;
			.NavBar--list__title {
				display: none;
			}
		}
		.NavBar--help {
			border-top: 1px solid #e8e8e8;
			padding: 5px;
		}
	}
}

.NavBar--list--nav {
	.NavBar--nav--item {
		.NavBar--item__block {
			margin: 14px 0;
			.NavBar--item__active {
				@include import.styleNormal(14px, #336cfb);
				.LabelIcon {
					.LabelIcon--item {
						margin: 0 6px;
						height: fit-content;
						.LabelIcon--label {
							@include import.styleBold(14px, #558eff);
						}
					}
				}
			}
		}
	}
}
