@use "../../../../Style/StyleImport.scss" as import;
.InputSearch {
    background: #ffffff;
    border-radius: 100px;
    display: flex;
    max-width: 350px;
    align-items: center;
    padding: 12px 16px;
    width: 32%;
    .InputSearch--icon {
        margin-right: 12px;
    }
    .InputSearch--input {
        @include import.styleNormal(13px,#A0A4A8);
    }
}
